keybinds clear-defaults=true {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
        bind "Ctrl t" { NewTab; }
        bind "Ctrl ]" { GoToNextTab; }
        bind "Ctrl \\" { GoToPreviousTab; }
        bind "Ctrl w" { CloseFocus; SwitchToMode "normal"; }
        bind "Ctrl q" { CloseTab; SwitchToMode "normal"; }
    }
    tmux {
        bind "left" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "down" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "up" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "right" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "|" { NewPane "right"; SwitchToMode "normal"; }
        bind "-" { NewPane "down"; SwitchToMode "normal"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "v" { SwitchToMode "scroll"; }
        bind "d" { Detach; }
        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "k" { ScrollUp; }
        bind "j" { ScrollDown; }
        bind "b" { HalfPageScrollUp; }
        bind "f" { HalfPageScrollDown; }
        bind "Ctrl c" {SwitchToMode "normal"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "locked"; }
    }
    entersearch {
        bind "enter" { SwitchToMode "search"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
}

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

pane_frames false
show_startup_tips false
show_release_notes false
simplified_ui true
