[hub]
  protocol = https
[core]
  excludesfile = ~/.gitignore
  quotepath = false
[user]
  name = Takanobu Hoshino
  email = hosh.tknb@gmail.com
  signingkey = 66E1C94D121EDEB3
[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
[push]
  default = current
[alias]
  st = status
  co = checkout
  merge = merge --no-ff
  br = branch
  up = pull --rebase --autostash
[merge]
  tool = vimdiff
[credential]
  helper = osxkeychain
[ghq]
  root = ~/works/src
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
  templatedir = ~/.git-templates/git-secrets
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[commit]
  gpgsign = true
