[core]
  quotepath = false
[user]
  name = Takanobu Hoshino
  email = hoshino@hey.com
  signingkey = FB99E51870E6BA225D7C3D8BB9823D8678244335
[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
[push]
  default = current
[alias]
  st = status
  co = checkout
  br = branch
  sw = switch
  p  = pull
  d  = diff
[merge]
  tool = vimdiff
[ghq]
  root = ~/works/src
[init]
  defaultBranch = main
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[commit]
  gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[remote "origin"]
	prune = true
[pull]
	rebase = true
[rebase]
	autostash = true
[branch "develop"]
	mergeoptions = --no-ff
[branch "master"]
	mergeoptions = --no-ff
[branch "main"]
	mergeoptions = --no-ff
