# Ignore everything
/*
/.**

# Files excluded
!/.alacritty.yml
!/.gitconfig
!/.gitignore_global
!/.hyper.js
!/.tmux.conf
!/.tmux
!/.tmux/conf.d
!/.tmux/conf.d/**
!/.vimrc
!/.zshenv
!/.zshrc

!/.gitignore
!/init/
!/init/**
!/init/files/**
!/LICENSE
!/README.md
